.grid-l-tang {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
  }

  .example-container {
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-h2 {
    margin: 10px;
  }

  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

  td {
    padding-right: 8px;
  }

  .example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.mat-action-row {
  place-content: space-between;
}